.backOfCard__enabled{
    border: 2px solid #3fb500ff;  
    
    
}
.backOfCard__disabled{
    color: grey;
    opacity: 0.5;
}

.backOfCard__div{
    background-color: white;
    margin: 10%;
    height:70%;
    width: 70%;
}

.backOfCard__monthDiv{   
   margin: 1%; 
   width: 110%;
}

button{
    position: absolute; 
    bottom: 10px;
    right: 130px   
  }