.cards__div {
  background-color: #ffaa27ff;
  display: flex;
  margin-bottom: 20%;
  margin-top: 10px;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
