@import url("../fonts/WEB/stylesheet.css");

.displaySelection__div {
  background-color: #ffaa27;
  border-radius: 50px;
  width: 30%;
  /* margin-top: 0; */
  margin-left: 17%;
  padding: 1%;
  font-family: "The Farmer Textured";
  font-size: 50px;
  margin-top: -20px;
  margin-bottom: 50px;
  box-shadow: -10px 10px 15px 1px grey;
}

.displaySelection__h1 {
  margin-left: 5%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .displaySelection__div {
    width: 90%;
    margin-top: 5%;
    margin-left: 6%;
    box-shadow: -10px 10px 20px 1px grey;
    /* background-color: #ffaa27;
    border-radius: 50px;
    padding: 1%;
    font-family: "The Farmer Textured";
    font-size: 50px;
    margin-top: -60px;
    margin-bottom: 50px;   */
  }

  .displaySelection__h1 {
    font-size: 24px;
  }
}
