@import url("../fonts/WEB/stylesheet.css");

.displaySelection__div {
  background-color: #ffaa27;
  border-radius: 50px;
  width: 30%;
  /* margin-top: 0; */
  margin-left: 17%;
  padding: 1%;
  font-family: "The Farmer Textured";
  font-size: 50px;
  margin-top: -60px;
  margin-bottom: 50px;
}

.displaySelection__h1 {
  margin-left: 5%;
}
