.farmersMarket__div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5%;
    padding: 3% 5%;
    box-shadow: -10px 10px 20px 1px grey;
    background-color: #fff8fa;
    border: none;
    border-radius: 20px;
    font-size: large;
}

.fmForm {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%; 
  color:#fff8fa;
}

.farmers__button{
    width: 25%;
    margin: 0px 25px;
    background-color: #be1599;
    color: #fff8fa;
    border-radius: 10px;
    box-shadow: -10px 10px 20px 1px grey;
    /* margin-top: 50%;
    margin-bottom: 80px; 
    margin-right: 100px; */
}

/* .farmersMarket__extraSpace{
    height: 50px;
} */


@media only screen and (max-width: 600px){
    .farmersMarket__div{
       width: 300px;
    }

    .fmForm{
    }

    .farmers__button{
        width: 25%;
        margin-bottom: 20px; 
        margin-right: 0px !important;
        
    }
    
}