.footer__container {
  background-color: #ffaa27;
  box-shadow: 5px -5px 40px 1px grey;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__img {
  border-radius: 50%;
  width: 5%;
  height: 5%;
}

.footer__icons {
  color: white;
  margin: 3%;
  font-size: 100%;
}

.footer__a {
  margin-left: 70%;
  color: white;
  font-family: Dancing Script;
}

.footer__text {
  color: white;
}

.footer__fontLogo {
  font-family: Dancing Script;
}
