.frontOfCard__img {
  object-fit: cover;
  height: 20vh;
}

.frontOfCard__card {
  margin: 10%;
  height: fit-content;
  width: 400px;
  min-width: 30%;
  min-height: fit-content;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .frontOfCard__card {
   width: 300px;
   margin-left: 1%;
  }
}

/* .react-card-front {
  width: 30%;
  height: fit-content;
} */

button{
  position: absolute; 
  bottom: 10px;
  right: 130px   
}

