.header__container {
  margin-top: 0;
  margin-left: 10%;
  /* box-shadow: -2px 5px 10px 5px rgb(196, 152, 8);
  margin: 2%; */
}

@media only screen and (max-width: 600px) {
  .header__container {
    margin-top: 0;
    margin-left: 50px;
    padding: 5%;
  }
}


.header__header {
  color: #251e23ff;
}

.header__p {
  max-width: 1100px;
}
