.header__container {
  margin-top: 0;
  margin-left: 300px;
}

@media only screen and (max-width: 600px) {
  .header__container {
    margin-top: 0;
    margin-left: 0px;
    padding: 5%;
  }
}

/* .header__img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  width: 100%;
  height: 20%;
} */

.header__header {
  color: #251e23ff;
}

.header__p {
  max-width: 950px;
}
