

.landingPage__img {
  width: 500px;
  height: 500px;
  border-radius: 70%;
  box-shadow: -10px 22px 30px 2px grey;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 46%;
  margin-top: -300px;
  margin-left: -200px;
}

.landingPage__div {
  position: fixed;
  top: 95%;
  left: 50%;
  margin-top: -160px;
  margin-left: -260px;
  padding: 2%;
  width: 25%;
  background-color: #fef8fa;
  border-radius: 20px;
  font-size: x-large;
  box-shadow: -5px 10px 20px 2px grey;
}

.landingPage__link {
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.landingPage__link:hover {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .LandingBg__div {
    background-size: auto;
  }
  
  .landingPage__img {
    width: 350px;
    height: 350px;
    left: 0px;
    position: fixed;
    margin-left: 10px;
    border-radius: 70%;
    box-shadow: -4px 2px 40px 1px #adc0b2;
}

  .landingPage__mobile div {
    background-color: #be1599;
  }
  .landingPage__div {
    margin-left: 0px;
    width: 300px;
    left: 9%;
    text-align: center;
    box-shadow: -1px 2px 30px 1px lightgrey;
  }
  .landingPage__div:hover {
    text-decoration: none;
  }
  .landingPage__link {
    margin-left: 0px;
    color: #fff8fa;
  }
  .landingPage__container{
    
  }
}
