.landingPage__img {
  width: 500px;
  height: 500px;
  box-shadow: -10px 22px 30px 2px grey;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 46%;
}

.landingPage__div {
  position: fixed;
  top: 95%;
  left: 50%;
  margin-top: -160px;
  margin-left: -260px;
  padding: 2%;
  width: 25%;
  background-color: #be1599;
  border-radius: 20px;
  font-size: x-large;
  box-shadow: -5px 10px 20px 2px grey;
}

.landingPage__link {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.landingPage__link:hover {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .LandingBg__div {
    background-size: auto;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .landingPage__img {
    width: 350px;
    height: 350px;
    position: fixed;
    border-radius: 70%;
    top: 60px;
    box-shadow: -4px 2px 40px 1px #adc0b2;
    left: -32% !important;
  }

  .landingPage__mobile div {
    background-color: #be1599;
  }
  .landingPage__div {
    margin-left: 0px;
    width: 300px;
    left: 12%;
    text-align: center;
    box-shadow: -1px 2px 30px 1px lightgrey;
  }
  .landingPage__div:hover {
    text-decoration: none;
  }
  .landingPage__link {
    margin-left: 0px;
    color: #fff8fa;
  }
}

@media only screen and (min-width: 1900px){
  .landingPage__img {
    top: 70px;
    
  }
  .landingPage__div {
    bottom: 30px;
   
  }
}
