.landingPage__container{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
}
.landingPage__img{
    width: 60%;
    height: 60%;
    border-radius: 70%;
    box-shadow: -10px 22px 30px 2px grey;
}


.landingPage__div{
    position: fixed;
    top: 50%;
    left: 48%;
    margin-top: -240px;
    margin-left: -420px;
    padding: 2%;
    width: 200px;
    background-color: #FEF8FA;
    border-radius: 50%;
    font-family: ;
    box-shadow: -5px 10px 20px 2px grey;
    
    
    
}

.landingPage__link{
    color: black;
    text-decoration: none;
}
.landingPage__link:hover{
    color: black;
    text-decoration: none;
}