@import url("../fonts/WEB/stylesheet.css");

.navBar__container {
  background-color: #ffaa27;
  box-shadow: 10px 10px 30px 5px grey;
  /* position: fixed; */
  width: 100%;
  
}

#navBar__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  max-height: 300px;
  max-width: 300px;
}

.navbar__header {
  position: relative;
}

.navBar__h1 {
  color: white;
  display: inline;
  font-family: "The Farmer Textured";
  font-size: 100px;
  
}
