.navBar__container {
 background-color: #5E565A;
 box-shadow: 10px 10px 30px 5px grey;
 position: fixed;
 top: 0;
 width: 100%;
}

#navBar__img {
  object-fit: contain;
}

.navbar__header {

}

.navBar__h1 {
  color: white;
  display: inline;
  font-family: Lobster;
}

