.tab__container {
}

.tab__hr{
    border: 1px solid #C6E0FF;
    width:100%;
    opacity: 1.0;
}

.tab__link{
    background-color: #52154eff;
    color: white;
    border-radius: 20px;
   
}
/* 
.tab__link:active{
    color: black;
    background-color: #C6E0FF;
} */
.tab__link:hover{
    color: #52154eff;
    background-color: white;
    border: 1px solid grey;
}

.button{
   color: #52154eff;
}