.tab__container {
}

.tab__hr {
  border: 1px solid#076321ff;
  width: 100%;
  opacity: 1;
}

.tab__link {
    background-color: #ffdc52;
    border: 4px inset #ffaa27;
    color: #251e23;
    border-radius: 20px;
    width: -webkit-fill-available;
    margin: 5px 3px 0px 0px;    
    font-family: "The Farmer Textured";
    font-size: 25px;
}
/* 
.tab__link:active{
    color: black;
    background-color: #C6E0FF;
} */
.tab__link:hover {
  color: #251e23;
  /* border: 4px inset #ffaa27; */
  background-image: linear-gradient(90deg, #ffdc52 65%, #ffaa27, #be1599, #076321, #3fb500);
  /* font-size: 30px; */
}

#menu-toggle {
  display: none;
}

#menu {
  width: 190px;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
}

#menu-toggle:checked + #menu {
  max-height: 500px;
}

div#left-tabs-example-tabpane-first {
  background-color: #ffaa27ff;
  border-radius: 20px;
  width: 1095px;
}

label {
  box-shadow: -10px 10px 15px 1px grey;
  background-color: #ffaa27;
  color: #251e23;
  border: 6px inset #ffdc52;
  font-family: "The Farmer Textured";
  font-size: 45px;
  border-radius: 25px;
  width: 110%;
  text-indent: 5%;
}

@media only screen and (max-width: 600px) {
  label {
    box-shadow: -10px 10px 15px 1px grey;
    font-size: 36px;
    margin: -10%;
    margin-bottom: 20%;
    margin-left: 15%;
  }
}
